body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

#username #password {
    width: 70%;
}