{% extends 'base_2.html' %}

<!-- Title -->
{% block head %}
<title>Manage</title>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="col m-4" id="table-of-requests">
    <div class="row table-headers">
        <div class="col-2">
            <h3>Amount</h3>
        </div>
        <div class="col-6">
            <h3>Description</h3>
        </div>
        <div class="col-4">
            <h3>Status Update</h3>
        </div>
    </div>
</div>
<script src="../static/js/manage.js"></script>
{% endblock %}